.gameDetailContenedor img{
   
    width: 600px;
    object-fit: cover;
   
}
.gameDetailContenedor{
    height: 100vh;
    background-color: #293241;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.gameDetailImagen_contente img{
    object-fit: cover;
    
}
.titulo_rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rating_content {
    color:antiquewhite;
    font-weight: 800;
    align-items: center;
    display: flex;
}
.rating_content img{
    width: 30px;
}
.released_content_{
    color:antiquewhite;
    font-weight: 800;
    align-items: center;
    display: flex;
}
.released_content_ img{
    width: 30px;
}
.platf_cont_{
    width: 120px;
    height: 290px;
    border: 2px solid antiquewhite;
}
.titulo_platforms{
    color: antiquewhite;
}
.titulo_genres{
    color: antiquewhite;

}
.descrip__{
    
    width: 900px;
    
    align-items: center;
}
.titulo_descrip{
    margin: 0;
    color: antiquewhite;
}
.descrip_detail{
    font-size: 15px;
    color: antiquewhite;
}
.box_descrip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detailLoader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  @keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loaderDetail__ {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
  
